<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Form Register</title>
    <!-- Link to Tailwind CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <style>
      body {
        background-color: #e4e2dd;
      }
      #button {
        background-color: #292929;
      }
    </style>
  </head>
  <body class="flex items-center justify-center min-h-screen">
    <div
      class="bg-white bg-opacity-50 shadow-lg rounded-lg p-8 w-full max-w-md"
    >
      <!-- Logo -->
      <div class="flex justify-center mb-6">
        <img src="./logo.png" alt="Logo" class="h-48 rounded-full" />
      </div>

      <!-- <h2 class="text-2xl font-bold mb-6 text-center">Register</h2> -->
      <form>
        <div class="mb-4">
          <label
            for="username"
            class="block text-sm font-medium text-gray-700 text-center"
            >Username</label
          >
          <input
            type="text"
            id="username"
            name="username"
            class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
            placeholder="Enter your username"
          />
        </div>
        <button
          type="submit" id="button"
          class="w-full bg-indigo-600 text-white py-2 px-4 rounded-md hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
        >
          Register
        </button>
      </form>
    </div>
  </body>
</html>
